:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #088095;
  --warning-color: #eb1212;
  --box-shadow: rgb(13, 96, 111);
  --box-shadow-hover: rgb(36, 199, 228);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  color: var(--white-color);
  background-color: var(--black-color);
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
}

body.no-scroll {
  overflow: hidden;
}

.site-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
