.game-header-options {
  display: flex;
  gap: 10px;
}

.select-round-option,
.select-level-option {
  position: relative;
  z-index: 2;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--main-color);
  color: var(--dark-color);
  box-shadow: 0px 0px 10px rgb(13, 96, 111);
  transition: all 0.5s;
  cursor: pointer;
}

.select-option-title,
.select-round-title {
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}

.select-option-body,
.select-round-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 98%;
  padding: 10px;
  display: none;
  background-color: var(--settings-bgr);
  box-shadow: 0px 5px 10px 4px rgba(49, 25, 11, 0.3);
  border-radius: 0 0 3px 3px;
  transition: all 0.5s;
}

.select-option-body[active],
.select-round-body[active] {
  display: block;
}

.level-item,
.round-item {
  margin-bottom: 12px;
  line-height: 34px;
  border-bottom: 1px solid var(--beige-3);
  cursor: pointer;
  transition: all 0.5s;
}

.settings__wrap {
}

.level__body {
}

.level__body-active {
}

.level__value {
}

.select:focus {
  outline: none;
}

@media (max-width: 500px) {
  .page-select-option,
  .select-level-option {
    width: 50px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .select-round-option:hover,
  .select-level-option:hover {
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(13, 96, 111, 0.5);
    background-color: var(--blue-color);
    transform: translateY(-0.1em);
    color: var(--main-light);
  }
}
