:root {
  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;
  --background-body: #E1D4C9;
  --background-container: #665F55;
  --background-backdrop: #403F3DCC;
  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-dark);
  background-color: var(--background-body);
}

body.no-scroll {
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%; 
}

[class*="__title"]>span {
  color: var(--text-accent);
  font-style: italic;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.header__container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrap {
  width: 100px;
  height: 60px;
}

.header__logo-wrap img {
  max-width: 100%;
}

.header__nav {
  flex: 1 1 auto;
  display: flex;
}

.nav__body {
  display: flex;
  flex: 1 1 auto;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3.46%;
  row-gap: 5px;
}

.nav__item {
  font-weight: 600;
  line-height: 150%; 
  position: relative;
  transition: all 0.8s;
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  background: url('./assets/icons/coffee-cup.svg') 52px 0px no-repeat;
  font-weight: 600;
  line-height: 150%;
}

.header__menu>a {
  padding-right: 30px;
}

.nav__item::after,
.menu__link::after,
.contacts__link::after {
  opacity: 0;
  content: '';
  position: absolute;
  display: block;
  width: 5%;	
  height: 2px;
  background-color: var(--text-dark);
  bottom: 0px;
  right: 50%;
  transition: all ease-in-out 0.3s;
}

.header__burger {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  transition: all 0.5s;
  display: none;
}

.burger.menu-open .burger__line:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1.5px);
}

.burger.menu-open .burger__line:last-child {
  transform: rotate(45deg);
  top: calc(50% - 1.5px);
}

.header__burger .burger__line {
  position: absolute;
  width: 18px;
  height: 2px;
  top: 39%;
  left: 28%;
  background-color: var(--text-dark);
  border-radius: 100px;
  transition: all 0.5s;
}

.header__burger .burger__line:last-child {
  top: 58%;
}

@media (max-width: 768px) {

  .header__container {
    padding: 20px 40px;
  }

  .header__burger {
    display: block;
  }

  .nav__body {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 96px;
    left: 0;
    transform: translateX(200%);
    padding: 60px 40px 100px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 93px;
    flex: 1 1 auto;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%; 
    background: var(--background-body);
    transition: 0.5s all linear;
    overflow-y: auto;
  }

  .header__nav_open {
    transform: translateX(0);
  }

  .nav__list {
    flex-direction: column;
    width: 100%;
    gap: 52px;
  }

  .header__menu {
    background-position: 103px 3px;
    background-size: 40px 40px;
  }

  .header__menu>a {
    padding-right: 57px;
  }
}

@media (hover: hover) {
  .nav__item:hover.nav__item::after {
    opacity: 1;
    width: 100%;
    right: 0%;
  }

  .header__burger:hover {
    background-color: var(--background-container);
    cursor: pointer;
  }

  .header__burger:hover .burger__line {
    background-color: var(--background-body);
  }
}

/* @media (hover: none) {
  .nav__item:active.nav__item::after {
    opacity: 1;
    width: 100%;
    right: 0%;
  }
} */



/* FOOTER */

.footer__container {
  padding: 40px;
}

.footer__content-wrap {
  background-color: var(--background-container);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  border-radius: 40px;
  color: var(--background-body);
}

.footer__offer {
  flex: 0 1 46%;
}

.offer__title {
  margin-bottom: 40px;
}

.offer__socials {
  display: flex;
  justify-content: flex-start;
  column-gap: 11px;
  max-height: 60px;
}

.socials__item {
  border-radius: 50%;
  transition: all 0.6s;
}

.socials__item:hover svg path {
    transition: all 0.6s;
  }

@media (hover: hover) {
  .socials__item:hover svg path {
    stroke: var(--text-dark);
  }

  .socials__item:hover {
    background-color: var(--background-body)
  }
}

/* @media (hover: none) {
  .socials__item:active svg path {
    stroke: var(--text-dark);
  }

  .socials__item:active {
    background-color: var(--background-body)
  }
} */

.footer__contacts-info {
  flex: 0 1 46%;
  padding: 35px 0px 35px 4px;
}

.contacts pre{
  display: inline;
}

.contacts__title {
  font-size: 24px;
  margin-bottom: 40px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-weight: 600;
  line-height: 150%;
}

.contacts__link {
  position: relative;
}

.contacts__link,
.item-hours {
  padding-left: 27px;
}

.link-location {
  background: url('./assets/icons/pin-alt.svg') no-repeat;
}

.link-phone {
  background: url('./assets/icons/phone.svg') no-repeat;
}

.item-hours {
  background: url('./assets/icons/clock.svg') no-repeat;
}

.contacts__link::after {
  background-color: var(--background-body);
  bottom: -5px;
}

@media (hover: hover) {
  .contacts__link:hover.contacts__link::after {
    opacity: 1;
    width: 100%;
    right: 0%;
  } 
}

/* @media (hover: none) {
  .contacts__link:active.contacts__link::after {
    opacity: 1;
    width: 100%;
    right: 0%;
  } 
} */

@media (max-width: 1000px) {
  .footer__container {
    padding: 41px;
  }

  .footer__content-wrap {
    flex-direction: column;
    padding: 100px 40px 69px 60px;
    gap: 68px;
  }

  .footer__contacts-info {
    padding: 34px 0px;
  }
}

@media (max-width: 550px) {
  .header__container {
    padding: 20px 16px;
  }

  .footer__container {
    padding: 42px 16px;
  }

  .footer__content-wrap {
    padding: 60px 14px 30px 15px;
    gap: 9px;
  }

  .offer__title {
    max-width: 316px;
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  
  .footer__container {
    padding: 33px 7px;
  }

  .footer__content-wrap {
    padding: 40px 9px;
    gap: 9px;
  }

  .offer__title {
    font-size: 28px;
  }

  .offer__socials {
    display: flex;
    justify-content: center;
    gap: 7px;
    max-height: none;
    flex-wrap: wrap;
  }

  .footer__contacts-info {
    padding: 23px 0px;
  }

  .contacts__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .contacts__list {
    font-size: 12px;
  }
 
  .contacts__link, .item-hours {
    padding-left: 17px;
    background-position: 0px 0px;
    background-size: 14px 14px;
  }
}
