.chat-page {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 80svh;
  width: 95%;
}

.chat-page_aside {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(16, 188, 219);
  transition: all 0.5s;
  box-sizing: border-box;
  padding: 0.5%;
  width: 35%;
}

.chat-page_dialog {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(16, 188, 219);
  transition: all 0.5s;
  box-sizing: border-box;
  padding: 0.5%;
  width: 64%;
}

.aside_contact-search,
.dialog-input {
  height: 40px;
  outline: none;
  padding: 0 5%;
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  letter-spacing: 1px;
}

.aside_users-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 3% 1% 1%;
  width: 100%;
  height: 100%;
}

.aside_user-line {
  overflow: hidden;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 100%;
  padding: 0 0.5% 0.5%;
  border-bottom: 1px solid;
}

.dialog-header_user-name {
  padding: 0 5px;
  max-width: calc(100% - 40px);
  overflow: hidden;
}

.dialog-header_user-status {
  padding: 0 5px;
}

.dialog-body {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: calc(100% - 82px);
  position: relative;
  overflow-y: scroll;
  padding: 10px 1%;
}

.dialog-body_text {
  position: absolute;
  top: 50%;
  width: 98%;
  display: block;
  text-align: center;
  font-size: 26px;
  opacity: 0.6;
}

.dialog-form {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.dialog-input {
  width: calc(99% - 100px);
}
.dialog-input[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.dialog-form-button {
  width: 100px;
  height: 40px;
}

.dialog-body::-webkit-scrollbar,
.aside_users-list::-webkit-scrollbar {
  width: 5px;
  background-color: #02343d;
  border-radius: 3px;
}

.dialog-body::-webkit-scrollbar-thumb,
.aside_users-list::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 3px;
}
