.header {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0px 35px;
  color: var(--main-color);
  background: rgba(21, 3, 43, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  opacity: 0.9;
  transition: all 0.5s;
}

.header-container {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  width: 100px;
  height: 35px;
  border-radius: 2px;
  background-color: var(--main-color);
  color: var(--dark-color);
  font-weight: 600;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

/* HOVER */
@media (hover: hover) and (pointer: fine) {
  .logout-btn:hover {
    box-shadow: 0px 8px 8px rgba(13, 96, 111, 0.5);
    background-color: var(--blue-color);
    transform: translateY(-0.1em);
    color: var(--main-light);
  }
}

@media (max-width: 670px) {
  .header-logo,
  .logout-btn,
  .user-greeting {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .header-logo,
  .logout-btn,
  .user-greeting {
    font-size: 16px;
  }
}

@keyframes masked {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.user-greeting {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background: -webkit-linear-gradient(left, #0ff 0%, #f6a8f8 25%, #97b1fb 50%, #0ff 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation:
    masked 15s linear infinite,
    fadeInDown 1.5s both 1;
  -webkit-animation:
    masked 15s linear infinite,
    fadeInDown 1.5s both 1;
  -moz-animation:
    masked 15s linear infinite,
    fadeInDown 1.5s both 1;
  -o-animation:
    masked 15s linear infinite,
    fadeInDown 1.5s both 1;
}
