.score-table {
  width: 100%;
  border: 2px solid var(--box-shadow);
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--box-shadow-hover);
}

.score-title {
  caption-side: top;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}

.score-table {
  width: 100%;
  overflow: auto;
  font-size: 1.2dvw;
}

.score-table tr {
  min-height: 70px;
}

.score-headers {
  height: 65px;
}

.score-table tr {
  height: 65px;
}
.score-headers-items {
}
.score-headers-position {
}
.score-table-body {
}
.score-table-body tr {
}
.score-row {
}
.car-img {
}

.car-name {
  width: 45%;
}

.wins-count {
  position: relative;
  width: 12%;
}

.wins-count span,
.timeValue span {
  position: absolute;
  top: 0;
  right: 5%;
  display: block;
  height: 100%;
  width: 20px;
  background-image: url('../../../assets/icons/sort.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.timeValue {
  position: relative;
  width: 15%;
}

.score-table th,
.score-table td {
  border: 1px solid var(--box-shadow);
  padding: 6px 3px;
}

.car-svg {
  max-width: 90px;
  max-height: 40px;
}

@media (max-width: 1650px) {
  .score-table {
    font-size: 1.8dvw;
  }
}
@media (max-width: 900px) {
  .wins-count span,
  .timeValue span {
    width: 15px;
  }
}

@media (max-width: 900px) {
  .wins-count span,
  .timeValue span {
    width: 12px;
  }
}
