body.no-scroll {
  overflow: hidden;
}

.page {
  display: flex;
  min-height: 100vh;
  padding: 30px;
  font-family: 'Inter', sans-serif;
  background-color: #5e63ba;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1540px;
  padding: 50px;
  margin: auto;
  gap: 30px;
  background-color:#ffffff;
  border: 1px solid #333333;
  border-radius: 10px;
}

.picture-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.picture-wrap__img {
  max-width: 100%;
}

.game-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 25px;
}

.game__secret-word {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 10px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.secret-word__letter {
  display: block;
  flex-basis: 35px;
  height: 35px;
  border-bottom: 3px solid rgb(20, 19, 19);
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.secret-word__letter.letter__guessed {
  border-bottom: transparent;
}

.game__hint-wrap,
.game__count-wrap,
.hint__title-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 25px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.game__hint-wrap {
  margin-bottom: 25px;
}

.game__count-wrap {
  margin-bottom: 40px;
}

.game__count {
  color: rgb(220, 17, 17);
}

.hint__title {
  color: #1b1e76;
  font-weight: 900;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 220px;
  gap: 5px;
  padding: 5px;
}

.button {
  color: #ffffff;
  background-color: #5e63ba;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background-color:rgb(59, 64, 152);
}

.keyboard__key {
  width: calc(100% / 9 - 10px);
  height: calc(100% / 3 - 10px);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.keyboard__key.clicked {
  opacity: 0.6;
  pointer-events: none;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--background-backdrop, rgba(64, 63, 61, 0.80));
}

.modal__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 50%;
  padding: 20px;
  border-radius: 40px;
  background: #ffffff;
}

.modal-content__img-wrap {
  display: flex;
  max-width: 15%;
  justify-content: center;
  align-items: center;
}

.modal-content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-content__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 5%;
}

.modal-content__message {
  margin-bottom: 5%;
}

.modal-content__answer {
  font-weight: 900;
}

.victory-answer {
  color: rgb(12 127 12);
} 

.lost-answer {
  color: rgb(179, 11, 11);
}

/* Alert Modal */
.modal__alert .modal-content {
  border-radius: 15px;
  color: rgb(193, 17, 17);
  font-size: 1.5rem;
  font-weight: 900;
}

.modal__alert .modal-content__text {
  min-height: 250px;
  justify-content: space-between;
}

.ok-btn,
.try-again-btn {
  width: 150px;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 900px) {
  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 670px) {
  .modal__content {
    max-width: 70%;
    font-size: 1.5rem;
    gap: 10px;
  }
}

@media (max-width: 550px) {

  .modal__alert .modal-content {
    font-size: 1rem;
    font-weight: 700;
  }

  .modal__content {
    max-width: 90%;
    font-size: 1rem;
    gap: 10px;
  }

  .page {
    padding: 20px;
  }

  .container {
    padding: 20px;
    gap: 15px;
  }

  .picture-wrap {
    max-width: 50%;
    font-size: 1rem;
  }

  .game-wrap {
    row-gap: 8px;
  }

  .game__secret-word {
    column-gap: 3px;
    margin-bottom: 20px;
    padding-top: 15px;
  }

  .secret-word__letter {
    font-size: 20px;
  }

  .game__hint-wrap {
    row-gap: 10px;
    margin-bottom: 10px;
  }

  .game__count-wrap {
    margin-bottom: 10px;
  }

  .game__count-text,
  .hint__title-text {
    row-gap: 15px;
    font-size: 20px;
  }

  .game__keyboard, 
  .game__secret-word {
    order: 1;
  }

  .keyboard__key {
    width: calc(100% / 7 - 6px);
    height: calc(100% / 4 - 10px);
  }
}

@media (max-width: 360px) {
  .page {
    padding: 10px;
  }

  .container {
    padding: 10px;
    gap: 10px;
  }

  .secret-word__letter {
    font-size: 18px;
  }
}