:root {
  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;
  --background-body: #E1D4C9;
  --background-container: #665F55;
  --background-backdrop: #403F3DCC;
  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

.menu__link:hover.menu__link::after {
  opacity: 1;
  width: 100%;
  right: 0%;
}

.favorite {
  padding: 0px 25px 100px;
}

.favorite__content {
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
  border-radius: 40px;
  background: url('../../assets/images/img-hero.jpg') lightgray 50% / cover no-repeat;
}

.favorite__title {
  max-width: 530px;
  font-size: 72px;
  line-height: 105%;
  color: var(--background-body);
}

.favorite__title span {
  color: var(--text-accent);
  font-style: italic;
}

.favorite__text {
  max-width: 530px;
  line-height: 150%;
  color: var(--background-body);
}

.favorite__button {
  width: 200px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--background-body);
  padding: 21px 64px;
  border-radius: 100px;
  transition: all 1.5s;
}

.button-menu__icon {
  position: absolute;
  right: 32%;
  visibility: hidden;
  opacity: 0;
}

.button-menu__text {
  font-weight: 600;
  line-height: 150%;
  transition: all 0.3s;
}

.button-menu__icon {
  transition: opacity ease-in 0.8s;
}

.favorite__button:hover .button-menu__icon {
  visibility: visible;
  opacity: 1;
}

.favorite__button:hover .button-menu__text {
  transform: translateX(-14px);
}

.favorite__button:hover {
  cursor: pointer;
  /* justify-content: flex-start; */
}



@media (max-width: 767.98px) {
  
}
@media (max-width: 560px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
  
}
@media (max-width: 550px) {

}
