:root {
  --beige-1: #efe7dd;
  --beige-3: #e8cba8;
  --chocolate-dark: #220103;
  --chocolate-light: #351605;
  --settings-bgr: #5d4132ed;
  --grid-border-bold: #7b2f0e;
  --grid-border-transparent: rgba(123, 47, 14, 0.3);
  color-scheme: light;
}

html.theme-dark {
  --beige-1: #f5f0ea;
  --beige-3: #220103;
  --chocolate-dark: #f1e1cf;
  --chocolate-light: #edd4b6;
  --settings-bgr: #e8cba8;
  --grid-border-bold: #efe7dd;
  --grid-border-transparent: rgba(242, 238, 234, 0.3);
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Inter";
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: var(--beige-3);
  border-radius: 0 0 3px 0;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--settings-bgr);
}

body.no-scroll {
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
}

.button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
} 

/* THEME DARK */
html.theme-dark .header,
html.theme-dark .footer {
  opacity: 1;
}

html.theme-dark .switcher__slider-wrap:before {
  left: 2px;
}

html.theme-dark .theme-light {
  background: url('./assets/icons/sun-dark.png') center/ 85% 85% no-repeat;
}

html.theme-dark .theme-dark {
  background: url('./assets/icons/moon-dark.png') center/ 70% 70% no-repeat;
}

html.theme-dark .settings__wrap svg path {
  stroke: #edd4b6;
}

html.theme-dark .settings__wrap svg circle {
  fill: #220103;
}

html.theme-dark .site-wrapper {
  background: url('./assets/images/paper-burned.png') center /100% 120% no-repeat;
}

html.theme-dark .game__container {
  background: none;
}

html.theme-dark .save-btn {
  background: url('./assets/icons/save-light.png') center/ 60% 60% no-repeat;
  background-color: var(--settings-bgr);
}

html.theme-dark .info__score {
  background: url('./assets/icons/score.png') center/ 70% 70% no-repeat;
}

html.theme-dark .info__volume {
  background: url('./assets/icons/sound.png') center/ 70% 70% no-repeat;
}

html.theme-dark .footer svg {
  fill: #edd4b6;
}

html.theme-dark .footer .developer .social-item-link {
  color: #edd4b6;
}

html.theme-dark .footer .rs-icon-wrap .rsschool-link {
  background: url('./assets/icons/rsschool_light.png') 0 0/100% 100% no-repeat;
}

html.theme-dark .cell-crossed {
  background: url('./assets/icons/x_icon.png') center /100% 100% no-repeat;
}

html.theme-dark .score__content-wrap {
  background-color: #220103;
  color: var(--grid-border-bold);
}

/* MODAL FOR WIN/LOOSE */
.modal,
.score {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal__overlay,
.score__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #5d413270;
}

.modal__content,
.score__content-wrap {
  z-index: 2;
  max-width: 600px;
  padding: 40px 30px 50px;
  border-radius: 6px;
  background-color: var(--beige-1);
  color: #59301a;
  text-align: center;
}

.modal-content__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal .message,
.modal-title {
  margin-bottom: 30px;
}

.modal-title {
  font-weight: 900;
}

.modal__btn,
.score__btn {
  width: 100px;
  padding: 5px;
  border-radius: 2px;
  background-color: var(--settings-bgr);
  color: var(--beige-3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

/* SCORE MODAL */
.score.show {
  opacity: 1;
  visibility: visible;
}

.score__content-wrap {
  padding: 20px 15px 40px;
}

.score__table {
  border: 2px solid var(--grid-border-bold);
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 25px;
  padding: 5px;
}

.score__title {
  caption-side: top;
  padding: 10px;
  margin-bottom: 25px;
  color: var(--grid-border-bold);
  font-size: 25px;
  font-weight: bold;
}

.score__table th,
.score__table td {
  border: 1px solid var(--grid-border-bold);
  padding: 8px 10px;
}

/* PAGE */

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  overflow: clip;
  background-color: var(--beige-1);
}

.header {
  align-items: center;
  display: flex;
  padding: 15px 0;
  background: var(--beige-3);
  opacity: 0.7;
  box-shadow: 0px 4px 4px rgba(46, 20, 7, 0.5);
  transition: all 0.5s;
}

.header___container {
  display: flex;
}

.header__burger {
  position: relative;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  border-radius: 2px;
  background-color: var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
  display: none;
}

.burger__line {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 40%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: var(--beige-3);
  border-radius: 10px;
  transition: all 0.5s;
}

.burger__line:last-child {
  top: 60%;
}

.burger-open .burger__line {
  left: 30%;
}

.burger-open .burger__line:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1.5px);
}

.burger-open .burger__line:last-child {
  transform: rotate(45deg);
  top: calc(50% - 1.5px);
}

.settings-btns-wrap {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.buttons-settings {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: var(--chocolate-light);
  color: var(--beige-3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

.buttons-settings:hover,
.header__burger:hover,
.save-btn:hover,
.score__btn:hover {
  background-color: var(--chocolate-dark);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.35) 0px 10px 10px;
}

/* THEME SWITCHER */
.theme-switcher {
  position: relative;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  border-radius: 2px;
  background-color: var(--chocolate-light);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

.theme-switcher::after {
  content: '';
  position: absolute;
  z-index: 2;
  display: block;
  width: 82px;
  height: 28px;
}

.level__header:hover,
.theme-switcher:hover,
.select__hint:hover,
.info__item:hover,
.modal__btn:hover  {
  background-color: var(--chocolate-dark);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.35) 0px 10px 10px;
  cursor: pointer;
}

.switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher__theme-name {
  width: 25px;
  height: 25px;
  font-weight: 500;
  line-height: 24px;
  color: var(--beige-3);
}

.theme-light {
  background: url('./assets/icons/light.png') center/ 85% 85% no-repeat;
}

.theme-dark {
  background: url('./assets/icons/moon-light.png') center/ 70% 70% no-repeat;
}

.switcher__button {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.switcher__slider-wrap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--beige-3);
  border-radius: 34px;
  transition: all 0.5s;
  cursor: pointer;
}

.switcher__slider-wrap:before {
  position: absolute;
  left: 11px;
  bottom: 1.5px;
  content: '';
  height: 10px;
  width: 10px;
  background-color: var(--beige-3);
  border-radius: 50%;
  transition: all 0.5s;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  padding: 20px;
  text-align: center;
}

/* LEVEL SWITCHER */
.settings__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: var(--beige-3);
}

.settings__level {
  width: 140px;
  position: relative;
}

.level__header {
  background: var(--settings-bgr);
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  color: var(--beige-3);
  background-color: var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

.level__header-icon,
.hint__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.level__current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.level__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 98%;
  padding: 10px;
  display: none;
  background-color: var(--settings-bgr);
  box-shadow: 0px 5px 10px 4px rgba(49, 25, 11, 0.3);
  border-radius: 0 0 3px 3px
}

.level__body-active {
  display: block;
}

.level__value {
  margin-bottom: 12px;
  line-height: 34px;
  border-bottom: 1px solid var(--beige-3);
  cursor: pointer;
  transition: all 0.5s;
}

.level__value:hover,
.options__value:hover {
  border-bottom: 1px solid var(--beige-1);
  color: var(--beige-1);
}

/* TIMER */
.settings__timer {
  padding: 8px;
  font-size: 20px;
  text-align: center;
  border-radius: 2px;
  color: var(--beige-3);
  background-color: var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

.message-time {
  font-weight: 700;
}

/* SELECT PUZZLE NAME */
.select__hint {
  position: relative;
  width: 140px;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

.hint__header-content {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  color: var(--beige-3);
  cursor: pointer;
  transition: all 0.5s;
}

.hint__body  {
  position: absolute;
  left: 0;
  right: 0;
  top: 39px;
  width: 100%;
  height: 200px;
  overflow: auto;
  padding: 10px;
  display: none;
  background-color: var(--settings-bgr);
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 4px rgba(49, 25, 11, 0.3);
}

.hint__body-active {
  display: block;
}

.hint__body::-webkit-scrollbar {
  width: 5px;
  background-color: var(--settings-bgr);
  border-radius: 0 0 3px 0;
}

.hint__body::-webkit-scrollbar-thumb {
  background-color: var(--chocolate-dark);
}

.options__value {
  margin-bottom: 10px;
  line-height: 34px;
  border-bottom: 1px solid var(--beige-3);
  color: var(--beige-3);
  cursor: pointer;
  transition: all 0.3s;
}

/* GAME GAME */
.game__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  background: url('./assets/images/paper.png') center /100% 100% no-repeat;
}

.save-btn {
  position: absolute;
  top: 10%;
  left: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: url('./assets/icons/save-dark.png') center/ 60% 60% no-repeat;
  border-radius: 50%;
  background-color: var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 4px, rgba(0, 0, 0, 0.35) -4px 3px 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.game__wrap-outer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  padding: 15px 0;
  width: 700px;
  max-width: 100%;
  gap: 1px;
  overflow: hidden;
}

.game__wrap {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.game__clues {
  border: 3px solid transparent;
  display: flex;
}

.game__content {
  border: 3px solid var(--grid-border-bold);
}

.clues-rows-wrap {
  flex-direction: column;
  padding: 0 1px;
}

.clues-columns-wrap {
  padding: 1px 0;
}

.clues__items-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
}

.clues__items-wrap_rows {
  flex-direction: row;
}

.clues__item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--grid-border-transparent);
  font-weight: 700;
  color: var(--chocolate-dark);
}

.clues__items-wrap_rows:nth-child(5n) {
  border-bottom: 2px dashed var(--settings-bgr);
}

.clues__items-wrap_rows .clues__item:nth-last-child(6) {
  border-right: 2px dashed var(--settings-bgr);
}

.clues__items-wrap_cols .clues__item:nth-last-child(6) {
  border-bottom: 2px dashed var(--settings-bgr);
}

.clues__items-wrap_rows:last-child  {
  border-bottom: none;
}

.clues__items-wrap_cols:nth-child(5n) {
  border-right: 2px dashed var(--grid-border-bold);
}

.clues__items-wrap_cols:last-child  {
  border-right: none;
}

.game__line {
  display: flex;
}

.game__cell {
  box-sizing: border-box;
  border: 1px solid var(--grid-border-transparent);
}

.cell-filled {
  background-color: var(--settings-bgr);
}

.cell-crossed {
  background: url('./assets/icons/x_icon-dark.png') center /100% 100% no-repeat;
}

.game__cell:nth-child(5n) {
  border-right: 3px solid var(--grid-border-bold);
}

.game__line:nth-child(5n) .game__cell {
  border-bottom: 3px solid var(--grid-border-bold);
}

.game__line:last-child .game__cell {
  border-bottom: none;
}

.game__cell:last-child {
  border-right: none;
}

.game__cell.disabled {
pointer-events: none;
}

/* INFO SECTION */
.info-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.info__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
}

.info__score {
  width: 50px;
  height: 50px;
  background: url('./assets/icons/score_wight.png') center/ 70% 70% no-repeat;
}

.info__volume {
  width: 50px;
  height: 50px;
  background: url('./assets/icons/sound_wight.png') center/ 70% 70% no-repeat;
}

/* PROGRESS BAR */
.info__progress-bar {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 25px;
  border-radius: 2px;
  border: 2px solid var(--settings-bgr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  max-width: 100%;
  height: 100%;
  background: var(--settings-bgr);
  transition: all 0.5s;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  padding: 15px 0;
  background: var(--beige-3);
  opacity: 0.7;
  box-shadow: 0px -3px 3px rgba(46, 20, 7, 0.5);
  transition: all 0.5s;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__wrap {
  width: 100%;
}

.social-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  gap: 10px;
}

.social-item {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.5s;
}

.social-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.social-item-link {
  display: inline-block;
  width: 100%;
}

.developer .social-item-link {
  color: var(--chocolate-dark);
}

.social-item-link svg {
  width: 30px;
  height: 30px;
}

.rs-icon-wrap {
  width: 95px;
  height: 40px;
}

.rs-icon-wrap .rsschool-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url('./assets/icons/rsschool.png') 0 0/100% 100% no-repeat;
}

@media (max-width: 600px) {
  .header {
    z-index: 10;
    opacity: 1;
  }

  .header___container {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
  }

  .header__burger {
    display: block;
  }

  /* SETTINGS BUTTONS */
  .settings-btns-wrap {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: absolute;
    top: 62px;
    left: 2px;
    width: 170px;
    background-color: var(--beige-3);
    padding: 26px 15px;
    box-shadow: 0px 4px 4px rgba(46, 20, 7, 0.5);
    border-radius: 2px;
    transition: all 0.5s;
  }

  .settings-btns-wrap.menu-open {
    display: flex;
  }

  .buttons-settings {
    background-color: var(--settings-bgr);
  }

  .settings__wrap {
    position: relative;
  }

  .main {
    gap: 10px;
    height: 80vh;
  }

  /* TIMER */
  .settings__timer {
    position: absolute;
    height: 30px;
    z-index: 10;
    bottom: 241%;
    left: 50%;
    transform:translate(-50%);
    padding: 5px;
    font-size: 16px;
  }

  /* THEME SWITCHER */
  .theme-switcher {
    width: 67px;
    background-color: var(--settings-bgr);
  }

  .switcher__slider-wrap:before {
    left: 8px;
    top: 50%;
    transform: translate(0%, -50%);
    height: 7px;
    width: 7px;
  }

  .theme-light {
    background: url('./assets/icons/light.png') center/ 70% 70% no-repeat;
  }

  .theme-dark {
    background: url('./assets/icons/moon-light.png') center/ 60% 60% no-repeat;
  }

  .switcher__button {
    height: 12px;
  }

  .game__container {
    height: 45vh;
  }

  .rs-icon-wrap {
    width: 60px;
    height: 30px;
  }

  .clues__item {
    font-size: 14px;
    font-weight: 500;
  }

  .social-item-link svg {
    width: 25px;
    height: 25px;
  }

  .social-items {
    width: 100px;
    gap: 5px;
  }

  .social-item {
    height: 25px;
    font-size: 17px;
  }
}

@media (max-width: 495px) {
  .hint__body {
    height: 161px;
  }
}

@media (max-width: 375px) {
  .settings__timer {
    bottom: 206%;
  }
}

@media (max-width: 360px) {
  .settings__timer {
    bottom: 224%;
  }
}

@media (max-width: 340px) {
  .select__hint,
  .settings__level {
    width: 130px;
  }

  .clues__item {
    font-size: 14px;
    font-weight: 500;
  }
}