.car-track-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}
.car-track-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.button {
  width: 60px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 15px;
  box-shadow: var(--box-shadow) 0px 0px 10px;
  transition: all 0.5s;
}
.start-btn {
}
.stop-btn {
}
.select-btn {
}
.delete-btn {
}
.car-name {
  font-size: 15px;
}

.car-track {
  margin-bottom: 10px;
  position: relative;
  border-bottom: 2px dashed var(--white-color);
}

.car-track::before {
  position: absolute;
  top: 0;
  right: 8%;
  content: '';
  height: 100%;
  width: 50px;
  background-image: url('../../../assets/icons/flag.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.car-icon-wrap {
  position: relative;
  max-width: 90px;
}

.car-icon-wrap .car-svg {
  max-width: 90px;
  max-height: 40px;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1.5px);
  }
  50% {
    transform: translateY(1.5px);
  }
  75% {
    transform: translateY(-1.5px);
  }
  100% {
    transform: translateY(0);
  }
}

.car-icon-wrap[engine='started'] {
  animation: shake 0.5s ease-in-out;
}

.car-icon-wrap[engine='burn']:after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 29px;
  right: 4%;
  top: -26%;
  background-image: url('../../../assets/icons/fire.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    box-shadow: 0px 4px 12px var(--box-shadow-hover);
    background-color: var(--blue-color);
  }
}
