.round-item {
  padding: 5px;
  line-height: 24px;
  border-bottom: 1px solid var(--beige-3);
  cursor: pointer;
  transition: all 0.5s;
}

.game-page-bg {
  position: relative;
}

.game-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-wrap[bg-image-disabled],
.game-source-data-block {
  background: rgba(2, 5, 25, 0.8) !important;
  opacity: 0.9;
  box-shadow: 0px 0px 10px rgb(26, 135, 155);
}

.main-content-wrapper {
  position: relative;
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  text-align: center;
  gap: 10px;
  background: rgba(89, 72, 100, 0.5);
  color: var(--main-light);
}

.translation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1420px;
  height: 32px;
  padding: 4px;
  text-align: center;
  background: rgba(2, 5, 25, 0.8);
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px rgb(26, 135, 155);
  transition: all 0.5s;
}

.translation-wrap[data-active] {
  visibility: visible;
  opacity: 0.9;
}

.game-wrap {
  width: 90%;
  position: relative;
  max-width: 1420px;
  height: 55vh;
  background-size: 100% 100%;
}

.game-wrap::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 4, 196, 0.3);
  z-index: 1;
}

.game-wrap[bg-image-disabled]:after {
  background-color: transparent;
}

.sentence-line {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 10%;
}

.sentence-line:not(:last-child) {
  border-bottom: 1px solid rgb(11, 40, 46, 0.6);
}

.game-source-data-block {
  width: 90%;
  max-width: 1420px;
  height: 7vh;
  padding: 4px 0px;
  line-height: 46px;
  font-size: 30px;
}

.word-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: inline-start;
  height: 100%;
  padding: 5px;
  font-size: 2vw;
  box-shadow: 0px 0px 5px rgb(26, 135, 155);
  border: solid 0.2px rgb(26, 135, 155);
  text-shadow: rgb(0, 0, 0) 0 0 3px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.5s;
}

.word-card[bg-image-disabled] {
  background: rgba(2, 5, 25) !important;
}

.game-wrap .word-card {
  box-shadow: none;
  border: solid 0.1px rgb(26, 135, 155, 0.5);
}

.game-source-data-block .word-card {
  visibility: hidden;
  opacity: 0;
}

.word-card.wrong-order {
  box-shadow: 0px 0px 5px rgb(146, 26, 155);
  border: solid 1px rgb(155, 26, 134);
}

.word-card.selected::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(91, 4, 196, 0.2);
  border: solid 0.2px rgb(91, 4, 196);
  box-shadow: 0px 0px 10px rgb(91, 4, 196);
}

.game-wrap .word-card[bg-revealed] {
  pointer-events: none !important;
  border: solid 0.1px transparent !important;
  opacity: 0 !important;
  transition: all 0.8s !important;
}

.sentence-line[disabled] {
  pointer-events: none;
}

.sentence-line .word-card[disabled] {
  pointer-events: none;
}

.game-wrap[bg-revealed]::after {
  background-color: transparent !important;
  transition: all 1s;
}

.game-wrap[bg-revealed] .sentence-line {
  border-bottom: none;
  transition: all 0.5s;
}

@media (hover: hover) and (pointer: fine) {
  .word-card:hover {
    box-shadow: 0px 0px 17px rgb(18 206 239);
  }
  .word-card.wrong-order:hover {
    box-shadow: 0px 0px 17px rgb(218, 41, 231);
  }

  .round-item:hover {
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(13, 96, 111, 0.5);
    background-color: var(--blue-color);
    color: var(--main-light);
  }
}

@media (max-width: 670px) {
  .translation-wrap {
    height: 45px;
    padding: 4px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .page-select-option {
    width: 70px;
    font-size: 16px;
  }
}
