.message-container {
  width: 100%;
  padding: 5px;
}

.message-content {
  width: 50%;
  min-width: 235px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(16, 188, 219);
}
.message-content[data-user='current'] {
  margin-left: auto;
}
.message-content[data-user='recipient'] {
}
.message-header {
  width: 80%;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  font-size: 0.7rem;
  justify-content: space-between;
  margin-bottom: 9px;
}
.message-header_user {
}
.message-header_date {
}

.message-text {
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(16, 188, 219);
  padding: 10px 7px;
}
.message-footer {
  width: 80%;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  font-size: 0.7rem;
  justify-content: flex-end;
  padding-top: 8px;
}
.message-footer_status {
}
