/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  height: 7vh;
  padding: 12px 35px;
  color: var(--white-color);
  background: rgba(21, 3, 43, 0.7);
  box-shadow: 0px -3px 3px var(--box-shadow);
  opacity: 0.9;
  transition: all 0.5s;
}

.footer-container {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  gap: 10px;
}

.social-item {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  transition: all 0.5s;
}

.developer .social-item-link {
  color: var(--white-color);
  transition: all 0.5s;
}

.social-item-link svg {
  width: 30px;
  height: 30px;
  transition: all 0.5s;
}

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40px;
}

.rs-icon-wrap .rsschool-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('../../../assets/icons/rsschool.png') center / 80% 80% no-repeat;
  transition: all 0.5s;
}

/* HOVER */
@media (hover: hover) and (pointer: fine) {
  .social-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0.8em 0.8em -0.4em var(--box-shadow-hover);
  }

  .social-item:hover svg {
    fill: var(--box-shadow-hover);
  }

  .developer .social-item-link:hover {
    color: var(--box-shadow-hover);
  }

  .rs-icon-wrap .rsschool-link:hover {
    background: url('../../../assets/icons/rsschool-hover.png') center / 80% 80% no-repeat;
  }
}
