.header__menu::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;	
  height: 2px;
  background-color: var(--text-dark);
  bottom: -2px;
}

.menu__title {
  max-width: 55%;
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 38px;
}

.menu__triggers-wrap {
  display: flex;
  max-width: 361px;
  margin: 0 auto;
  gap: 15px;
  margin-bottom: 40px;
}

.trigger {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  padding: 8px 16px 8px 8px;
  transition: all 0.5s;
}

.trigger__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-light);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  transition: all 0.5s;
}

.menu__type-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.menu__type-label {
  font-weight: 600;
  line-height: 150%;
}

.menu__type_checked {
  background: var(--background-container);
  color: var(--text-light);
  border: 1px solid var(--background-container);
}

.menu__type_checked .trigger__icon-wrap {
  background-color: var(--background-body);
  cursor: default;
}

.menu__items {
  display: grid;
  grid-template-columns: minmax(20%, 310px) minmax(20%, 310px) minmax(20%, 310px) minmax(20%, 310px);
  grid-auto-rows: minmax(auto, 506px);
  column-gap: 2.9%;
  row-gap: 40px;
  padding: 0 40px;
  margin-bottom: 60px;
  transition: opacity .5s ease-out;
}

.menu__item {
  border-radius: 40px;
  border: 1px solid var(--border-light, #C1B6AD);
  position: relative;
  transition: position 0.2s, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.menu__items_hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: scale(1) translateY(-200%);
}

.menu-item__img-wrap {
  border-radius: 40px;
  overflow: hidden;
  max-width: 310px;
  max-height: 310px;
  margin-bottom: 19px;
}

.menu-item__img-wrap img {
  width: 100%;
  height: auto;
  transition: all 0.5s;
  transform: scale(1.1);
}

.menu-item__description {
  height: 35%;
  padding: 0 19px 20px 19px;
}

.menu-item__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}

.menu-item__text {
  line-height: 147%
}

.menu-item__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  position: absolute;
  bottom: 19px;
  left: 19px;
}

.menu__refresh-btn {
  display: none;
}

.menu__refresh-btn_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  margin-bottom: 58px;
  transition: all 0.8s;
}

/* MODAL */

.modal {
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--background-backdrop, rgba(64, 63, 61, 0.80));
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.2s, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.modal_active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 100;
}

.modal__content {
  max-width: 800px;
  min-width: 310px;
  display: flex;
  column-gap: 20px;
  border-radius: 40px;
  background: var(--background-body, #E1D4C9);
  padding: 16px;
}

.modal-card__img-wrap {
  border-radius: 40px;
  overflow: hidden;
  flex: 0 0 310px;
  height: 310px;
}

.modal-card__img-wrap img {
  transform: scale(1.1);
}

.modal-card__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.modal-card__title {
  color: var(--text-dark, #403F3D);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}

.modal-card__text {
  line-height: 150%;
}

.modal-card__additive-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card__additive__title {
  line-height: 150%;
}

.modal__btn-wrap {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.modal-card__btn {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  padding: 8px 16px 8px 8px;
  font-weight: 600;
  line-height: 150%;
  transition: all 0.5s;
}

.size__btn {
  max-width: 117px;
}

.modal-card__btn_active {
  background-color: var(--background-container);
  pointer-events: none;
  cursor: default;
}
  
.modal-card__btn_active .modal-btn__title {
  background-color: var(--background-body);
}

.modal-card__btn_active .modal-btn__text {
  color: var(--text-light);
}

.modal-btn__title {
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.modal-btn__text {
  flex: 1 0 auto;
  transition: all 0.5s;
}

.modal-card__price {
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  justify-content: space-between;
}

.modal-card__text-explain {
  border-top: 1px solid var(--border-light, #C1B6AD);
  padding: 12px 0px 12px 24px ;
  background: url('../../assets/icons/info-empty.svg') 0px 12px no-repeat;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.modal-close {
  padding: 10px 78px;
}

@media (max-width: 1000px) {
  .menu__title {
    max-width: 89%;
  }

  .menu__items {
    display: grid;
    max-width: 688px;
    grid-template-columns: minmax(35%, 310px) minmax(35%, 310px);
    grid-template-rows: minmax(auto, 506px) minmax(auto, 506px);
    column-gap: 6%;
    padding: 0 15px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 768px) {
  .menu__items {
    position: relative;
    display: grid;
    max-width: 688px;
    grid-template-columns: minmax(35%, 310px) minmax(35%, 310px);
    grid-template-rows: minmax(auto, 506px) minmax(auto, 506px);
    column-gap: 6%;
    padding: 0 15px;
    margin: 0 auto 40px;
    transition: all 0.5s;
  }
}

@media (max-width: 450px) {

  .menu__title {
    font-size: 32px;
    max-width: 91%;
  }

  .menu__triggers-wrap {
    max-width: 348px;
    gap: 7px;
  }

  .menu__items {
    grid-template-columns: 310px;
    justify-content: center;
  }
}

@media (max-width: 360px) {

  .menu__triggers-wrap {
    flex-direction: column;
    align-items: center;
  }

  .trigger {
    width: 65%;
  }

  .menu__items {
    grid-template-columns: minmax(auto, 310px);
  }
}

@media (hover: hover) and (pointer: fine) {

  .trigger:hover .trigger__icon-wrap {
    background-color: var(--background-body);
  }

  .trigger:hover,
  .menu__type-label:hover {
    cursor: pointer;
  }

  .trigger:hover {
    background: var(--background-container);
    color: var(--text-light);
  }
  
  .menu-item:hover.menu-item img,
  .menu-item__img-wrap:hover img {
    transform: scale(1.0);
    cursor: pointer;
  }

  .menu-item:hover {
    cursor: pointer;
  }

  .menu__refresh-btn:hover svg path {
    stroke: var(--background-body);
  }

  .menu__refresh-btn:hover {
    background-color: var(--border-dark);
  }

  .modal-card__btn:hover {
    background-color: var(--background-container);
    cursor: pointer;
  }

  .modal-card__btn:hover .modal-btn__title {
    background-color: var(--background-body);
  }

  .modal-close:hover,
  .modal-card__btn:hover .modal-btn__text {
    color: var(--text-light);
  }
}

.menu__link.disabled,
.menu__type_checked.disabled,
.menu__type_checked.disabled>.menu__type-label,
.menu__type_checked .trigger__icon-wrap img {
  cursor: default;
  pointer-events: none;
}