.header__menu::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;	
  height: 2px;
  background-color: var(--text-dark);
  bottom: 16px;
}

.menu__link[disabled] {
  cursor: default;
}
@media (max-width: 767.98px) {

}

@media (max-width: 560px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
  
}
@media (max-width: 550px) {

}
