:root {
  --main-color: #da90ef;
  --main-light: #edc1fa;
  --blue-color: #16849d;
  --white-color: #ffffff;
  --accent-color: #bb945f;
  --beige-color: #e8cba8;
  --black-color: #000000;
  --dark-color: #15032b;
  --chocolate-dark: #220103;
  --warning-color: #eb1212;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  color: var(--black-color);
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
}

body.no-scroll {
  overflow: hidden;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
